
* {
    box-sizing: border-box;
}

:root {
    --heading:rgb(54, 98, 193);

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var( --heading);
}

header {
    background-color:  var( --heading);
    color: white;  
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bitmoji {
    border-radius: 50%;
    width: 12%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 50px;
}

h1 {
    font-size: 90px;
    margin-top: 25px;
    padding-bottom: 25px;
    margin-left: 25 px;
    color: white;
    
}

nav {
    display:flex;
    justify-content: flex-end; 
    background-color: rgb(255, 203, 146);
    padding-top: 15px;
    padding-bottom: 15px;
}

nav a {
    padding-right: 25px;
    text-decoration: none;
    color: var( --heading);
    font-size: xx-large;
    font-weight: bold;
}

main {
    display:flex;
    /* flex-wrap: wrap; */
    }

main {
    display: block;
}

section {
    margin-top: 50px;
}

h2 {
    font-size: xx-large;
    padding: 25px;
    display: block;
    font-weight: bold;
    text-align: center;

}

.about-me p {
    text-align: center;
    font-size: large;
}

#card-list{
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 50%;
    justify-content: center;
    padding-left: 30px;
    /* outline: 1px solid black; */
 }

#project-1 {
    flex: 1 1 100%;
}

.contact {
   
}
ul {
    display: flex;
    justify-content: center;
}

li {
    font-size: x-large;
    margin-right: 25px;
    margin-bottom: 50px;
}